---
layout: default
---

<div class="post">
	<h1>{{ page.title }}</h1>
	<div class="summary">{{ page.summary }}</div>

	{{ content }}


</div>

<!--
<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
-->

<div class="afterPost">
  <a href="/">See all posts</a>
</div>

<div class="mini-bio">
  <h3>Hi I'm Tinco Andringa</h3>
  <p>
  I'm a software engineer based in The Netherlands. I like hacking in Ruby, Haskell, Rust, Go, CoffeeScript and C#.
  I work at <a href="https://www.phusion.nl">Phusion</a>, currently leading the development and operations 
  of <a href="https://www.unionstationapp.com">Union Station</a>, a web applications monitoring and analytics service.
  </p>
  <a class="avatar" href="http://www.tinco.nl">
    <img src="/images/tinco.jpg" alt="Picture of Me">
  </a>
</div>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="//tinco.us12.list-manage.com/subscribe/post?u=e65d17d2ab117a90d569df807&amp;id=0accc16372" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <h4>Like this blog? Sign up for e-mail notifications:</h4>
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
  	    <label for="mce-EMAIL">Email Address</label>
  	    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>
      <div id="mce-responses" class="clear">
  	    <div class="response" id="mce-error-response" style="display:none"></div>
  	    <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_e65d17d2ab117a90d569df807_0accc16372" tabindex="-1" value="">
      </div>
      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </div>
  </form>
</div>
<!--End mc_embed_signup--
